@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron siteTitle" style="background-image: url(../images/auditorium.jpg) !important;
    background-position: center center;
   
    background-repeat: no-repeat;">
    <h1 style="color: #fff;">Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
           The University for Successful Students who Succeed
        </p>
    </div>
    <div class="col-md-4">
        <h2>See Our Courses</h2>
        <p>We set you up for success with our amazing courses </p>
        <p>
            <a class="btn btn-default"
               asp-page="/Courses/Index">
                See Our Courses &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Departments for everyone</h2>
        <p>See available Departments</p>
        <p>
            <a class="btn btn-default"
               asp-page="/Departments/Index">
                See Departments &raquo;
            </a>
        </p>
    </div>
</div>